<h1>TATTA?</h1>
<p>あれから何日経った？がわかるアプリ</p>

<% if user_signed_in? %>
  <%= link_to "ユーザー情報の編集", edit_user_registration_path(current_user) %>
  <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
  <h4>新規アクティビティ</h4>
  <%= form_with model: @activity do |form| %>
    <div>
      <% @activity.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>

    <%= form.text_field :name %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div>
      <%= form.submit "登録" %>
    </div>
  <% end %>

  <hr>

  <table>
    <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <td><%= link_to activity.name, activity %></td>
          <td><%= format_time_diff(activity.passed_time) %></td>
          <td><%= form_with model: @activity_history do |form| %>
                <%= form.hidden_field :activity_id, value: activity.id %>
                <%= form.hidden_field :acted_at, value: Time.current %>
                <%= form.submit "Did it!"  %></td>
              <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
