<h1>TATTA?</h1>
<p>あれから何日経った？がわかるアプリ</p>

<h4>新規アクティビティ</h4>
<%= form_with model: @activity do |form| %>
  <div>
    <% @activity.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>

  <div>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit "登録" %>
  </div>
<% end %>

<hr>

<% @activities.each do |activity| %>
  <h3><%= link_to activity.name, activity %></h3>
  <p><%= format_time_diff(activity.passed_time) %></p>
  <%= button_to "Did it!",
    {controller: 'activity_histories', action: 'create'},
    {params:{activity_history: {activity_id: activity.id, acted_at: Time.current}}} %>
<% end %>
