<h1>アクティビティ一覧</h1>
<% @activities.each do |activity| %>
  <h2><%= activity.name %></h2>
  <p><%= format_time_diff(activity.passed_time) %></p>
  <%= button_to "Done!",
    {controller: 'activity_histories', action: 'create'},
    {params:{activity_histories: {activity_id: activity.id, acted_at: Time.current}}} %>
<% end %>

<h1>新規登録</h1>
<%= form_with model: @activity do |form| %>
  <div>
    <% @activity.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>

  <div>
    <%= form.label :name, "名前" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit "登録" %>
  </div>
<% end %>
