<p><%= link_to "一覧に戻る", activities_path %></p>
<h1><%= @activity.name %></h1>
<p><%= link_to "アクティビティ名の編集", edit_activity_path(@activity) %></p>
<p><%= link_to "アクティビティの削除", activity_path(@activity), data: {
      turbo_method: :delete,
      turbo_confirm: "本当に削除してよろしいですか？",
    } %> </p>
<%= form_with model: @activity_history do |form| %>
  <div>
    <%= form.label :note, "メモ" %>
    <%= form.text_field :note %>
  </div>

  <div>
    <%= form.hidden_field :acted_at, value: Time.current %>
    <%= form.hidden_field :activity_id, value: @activity.id %>
  </div>

  <div>
    <%= form.submit "今追加！" %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>時刻</th>
      <th>メモ</th>
    </tr>
  </thead>
  <tbody>
    <% @activity.activity_histories.order(acted_at: :DESC).each do |history| %>
      <tr>
        <td><%= history.acted_at.strftime("%Y年%-m月%-d日 %-H時%-M分") %></td>
        <td><%= history.note %></td>
        <td><%= link_to "編集", edit_activity_history_path(history) %></td>
        <td><%= link_to "削除", history, data: {
          turbo_method: :delete,
          turbo_confirm: "本当に削除してよろしいですか？",
        } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
